<app-header></app-header>

<div class="container text-center my-4">
    <!-- Hero Section -->
    <section class="hero-section">
    </section>
</div>

<div class="container">
    <section class="hero-section d-flex justify-content-center">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="border shadow-lg p-4 rounded">

            <ngb-alert [dismissible]="false" *ngIf="error" class="error alert-danger">
                <i class="fas fa-info-circle me-1"></i><strong>Warning!</strong> {{loginMessage}}
            </ngb-alert>
            
            <h5 class="text-center my-3"></h5>

            <div class="row my-3">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label>Телефон</label>
                        <input type="email" id="email" formControlName="email" class="form-control" />
                        <span class="error" *ngIf="email?.invalid && email?.touched">Email is required</span>
                    </div>
                </div>
            </div>
            
            <div class="row my-3">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label>Пароль</label>
                        <input type="password" formControlName="password" class="form-control" />
                        <span class="error" *ngIf="password?.invalid && password?.touched">Password is required.</span>
                    </div>
                </div>
            </div>

            <div class="text-center">
                <button type="submit" class="btn  mt-3 w-100">Войти</button>
            </div>

            <div class="row my-1 p-2">
                <div class="col-sm-12 text-center">
                    <a [routerLink]="['/register']">Зарегистрироваться </a>
                </div>
            </div>

        </form>

    </section>
</div> <br>


<router-outlet></router-outlet>