<!-- Header Starts -->
<nav class="header navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center" [routerLink]="['/']" >
            <div class="logo-container">
                <img class="logo" src="/assets/logo.png" alt="Logo">
            </div>
        </a>

        <button class="navbar-toggler collapsed" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed"
            [attr.aria-expanded]="!isNavbarCollapsed" aria-controls="navbarNav" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" [ngbCollapse]="isNavbarCollapsed">
            <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn; else loggedOutContent">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/products']"  routerLinkActive="active">Каталог</a>
                </li>
                <li class="nav-item">
                    <button class="nav-link" (click)="logout()">Выход</button>
                </li>
            </ul>
            <ng-template #loggedOutContent>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Главная</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/products']"  routerLinkActive="active">Каталог</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/login']"  routerLinkActive="active">Вход</a>
                    </li>
                </ul>


            </ng-template>
        </div>
    </div>
</nav>
