<app-header></app-header>

<div class="container">
    <div class="section2">
    <h1 class="pred">Продать</h1>
    <div class="container">
        <mat-form-field>
            <mat-label>Категория</mat-label>
            <mat-select disableRipple>
              <mat-option value="1">Продукты</mat-option>
              <mat-option value="2">Одежда</mat-option>
              <mat-option value="3">Бытовая химия</mat-option>
              <mat-option value="3">Запчасти</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Товар</mat-label>
            <mat-select disableRipple>
              <mat-option value="1">1</mat-option>
              <mat-option value="2">2</mat-option>

            </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Количество</mat-label>
          <input matInput [(ngModel)]="radius" type="number">
        </mat-form-field>
        
        <mat-form-field>
            <mat-label>Цена</mat-label>
            <input matInput [(ngModel)]="radius" type="number">
          </mat-form-field>

      </div>
      <button mat-button>Заказать</button>
    </div>
</div>