<app-header></app-header>
<router-outlet></router-outlet>
<div class="banner"><img  class="banner-img" src="/assets/banner.png"></div>

<div class="section2">
<h1 class="pred">Введи учет запасов</h1>
<div  class="promo-text" [routerLink]="['/']"><img class="uchet-img" src="/assets/icon-ampaar.png">Поможем ввести учет. Подарим чек лист необходимых запасов. </div>
</div>

<div class="section">
<h1 class="pred">Размещай и продавай</h1>
<div  class="promo-text2" [routerLink]="['/sell']">Поможем найти клиентов. Оформи подписку и используй все функции.<img class="barter-img" src="/assets/icon-barter.png"> </div>
</div>

<div class="section2">
<h1 class="pred">Купи необходимое</h1>
<div class="product-category">
    <div><img class="category-img" mat-card-image src="/assets/cat1.png" [routerLink]="['/products']"><h3 class="cat-name">Продукты</h3></div>
    <div><img class="category-img" mat-card-image src="/assets/cat2.png" [routerLink]="['/products']"><h3 class="cat-name">Одежда</h3></div>
        <div><img class="category-img" mat-card-image src="/assets/cat3.png" [routerLink]="['/products']"><h3 class="cat-name">Бытовая химия</h3></div>
            <div><img class="category-img" mat-card-image src="/assets/cat4.png" [routerLink]="['/products']"><h3 class="cat-name">Запчасти</h3></div>
</div>
</div>
<div class="section">
    <h1 class="pred">Скачай мобильное приложение</h1>
    <a href="https://drive.google.com/drive/folders/1pvwJ7lbFU_1Wky0lOMm7WYheBXnWFcSV">
    <img  class="ru-img" src="/assets/rustore-logo.png">
    </a>
    <h4 class="pred">Ampaar - 2023</h4>
</div>